.mp-form-row .iti__flag {
  background-image: url("../images/tel-flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .mp-form-row .iti__flag {
    background-image: url("../images/tel-flags@2x.png");
    background-size: 5652px 15px;
  }
}

.mp-form-row .iti__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mp-form-row .iti__country-list .iti__country {
  margin: 0;
}

/* RTL */
.rtl .mp-form-row .iti__selected-flag {
  padding: 0 8px 0 6px;
}
.rtl .mp-form-row .iti--separate-dial-code .iti__selected-dial-code,
.rtl .mp-form-row .iti__arrow {
  margin-left: 0;
  margin-right: 6px;
}

.rtl .mp-form-row .iti--allow-dropdown .iti__flag-container,
.rtl .mp-form-row .iti--separate-dial-code .iti__flag-container {
  right: 0;
  left: auto;
}

.rtl .mp-form-row .iti__country-list {
  text-align: right;
}

.rtl .mp-form-row .iti__country-list .iti__country {
  display: flex;
  align-items: center;
}

.rtl .mp-form-row .iti__country-name,
.rtl .mp-form-row .iti__flag-box {
  margin-right: 0;
  margin-left: 6px;
}

.rtl .mp-form-row input[type="tel"] {
  text-align: right;
}