.mp-hide-pw {
  position: relative;
}

.button.mp-hide-pw {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  background: 0 0;
  color: #85929E;
  text-decoration: none;
  padding: 1em 1.4em;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button.mp-hide-pw:hover {
  background: 0 0;
  color: #5D6D7E;
  text-decoration: none;
  padding: 1em 1.4em;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button.mp-hide-pw:active {
  background: 0 0;
  color: #5D6D7E;
  text-decoration: none;
  padding: 1em 1.4em;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button.mp-hide-pw .dashicons {
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

.button.mp-hide-pw:focus-visible .dashicons {
  color: #06429e;
  outline: 2px solid #bcbcbc;
}

.mp_login_form input[type=submit] {
  padding: 0.8em 1.1em;
  background: #949494;
  border: 1px solid #949494;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.mp_login_form input[type=submit]:hover,
.mp_login_form input[type=submit]:active,
.mp_login_form input[type=submit]:focus-visible {
  background: #06429e;
  border-color: #06429e;
}

.mp_login_form input[type=submit]:focus-visible {
    outline: dashed #06429e;
}
